<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CloseIoApiKey" value="INSERT"/>
    <add key="CloseIoQueryTestLeadId" value="INSERT"/>
    <add key="CloseIoQueryTestContactId" value="INSERT"/>
    <add key="CloseIoQueryTestOpportunityId" value="INSERT"/>
    <add key="CloseIoQueryTestTaskId" value="INSERT"/>
    <add key="CloseIoScanTestLeadId" value="INSERT"/>
    <add key="CloseIoScanTestContactId" value="INSERT"/>
    <add key="CloseIoScanTestOpportunityId" value="INSERT"/>
    <add key="CloseIoScanTestTaskId" value="INSERT"/>
  </appSettings>
</configuration>